<h2>Add Firestore</h2>
<form>
  <!-- <div>
    <label for="id"> ID: </label>
    <input type="text" name="id" [(ngModel)]="addId">
     {{user.id+1}}
  </div> -->
  <div>
    <label for="name"> Name: </label>
    <input type="text" name="name" [(ngModel)]="addName">
  </div>
  <div>
    <label for="surname"> Surnme: </label>
    <input type="text" name="surname" [(ngModel)]="addSurname">
  </div>
  <div>
    <label for="age"> Age: </label>
    <input type="text" name="age" [(ngModel)]="addAge">
  </div>
  <button (click)="addUser()">Add</button>
</form>
